@model DriVR_Web.Logic.Question;
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vraag verwijderen</h2>
<div>
    <h4>Weet u zeker dat u deze vraag wilt verwijderen?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <u>Vraag tekst:</u>
        </dt>
        <dt>
            @Html.DisplayFor(model => model.QuestionText)
        </dt>
        <dt>
            <u>Afbeelding URL:</u>
        </dt>
        <dt>
            @Html.DisplayFor(model => model.ImageUrl)
        </dt>
        <dt>
            <u>Antwoord 1:</u>
        </dt>
        <dt>
            @Html.DisplayFor(model => model.AnswerOne)
        </dt>
        <dt>
            <u>Antwoord 2:</u>
        </dt>
        <dt>
            @Html.DisplayFor(model => model.AnswerTwo)
        </dt>
        <dt>
            <u>Antwoord 3:</u>
        </dt>
        <dt>
            @Html.DisplayFor(model => model.AnswerThree)
        </dt>
        <dt>
            <u>Nummer van het juiste antwoord:</u>
        </dt>
        <dt>
            @Html.DisplayFor(model => model.QuestionText)
        </dt>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID"/>
        <input type="submit" value="Verwijderen" class="btn btn-danger"/>
        <a asp-action="Overview">Terug naar overzicht</a>
    </form>
</div>