@model DriVR_Web.Logic.Question;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Vraag details</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <u>Vraag tekst:</u>
            </dt>
            <dt>
                @Model.QuestionText
            </dt>
            <dt>
                <u>Afbeelding URL:</u>
            </dt>
            <dt>
                @Html.DisplayFor(model => model.ImageUrl)
            </dt>
            <dt>
                <u>Antwoord 1:</u>
            </dt>
            <dt>
                @Html.DisplayFor(model => model.AnswerOne)
            </dt>
            <dt>
                <u>Antwoord 2:</u>
            </dt>
            <dt>
                @Html.DisplayFor(model => model.AnswerTwo)
            </dt>
            <dt>
                <u>Antwoord 3:</u>
            </dt>
            <dt>
                @Html.DisplayFor(model => model.AnswerThree)
            </dt>
            <dt>
                <u>Nummer van het juiste antwoord:</u>
            </dt>
            <dt>
                @Html.DisplayFor(model => model.QuestionText)
            </dt>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Wijzigen</a>
        <a asp-action="Overview" asp-route-id="@Model.ID">Terug naar overzicht</a>
    </div>